.user {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #4285f4;
  border-radius: 5px;
}

.user .user_ongame {
  margin-top: 20px;

  text-align: center;
}
